* {
  margin: 0;
  padding: 0;
}

.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* Shared CSS */
.primary-btn {
  background-color: #fd6e0a;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 30px;
  border-radius: 5px;
  color: #fff;
  border: none;
}

.primary-bg {
  background-color: #fff8f3;
}

.main-section {
  max-width: 1140px;
  margin: 0 auto;
}

.heading-title {
  font-size: 35px;
  font-weight: 700;
  color: #181818;
}

.heading-description {
  font-size: 18px;
  color: #757575;
}

.primary-text {
  color: #fd6e0a;
}

.dark-1 {
  color: #181818;
}

.dark-2 {
  color: #474747;
}

.dark-3 {
  color: #757575;
}

/* Header Section */

.header-section {
  background: url(../assets/images/developer.png),
    url(../assets/images/header_bg.png), #fff8f3;
  background-repeat: no-repeat;
  background-position: center left, bottom right;
  height: 100vh;
}

.nav-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 120px;
}

.nav-section .nav-title {
  font-size: 45px;
  font-weight: 800;
}

.nav-section ul {
  display: flex;
  gap: 60px;
  align-items: center;
}

.nav-section ul li {
  list-style: none;
}

.nav-section ul li a {
  text-decoration: none;
  font-size: 20px;
  color: #474747;
}

/* Banner Section */

.banner-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: calc(100% - 120px);
}

.banner-content {
  width: 35%;
}

.banner-content .title {
  font-size: 85px;
  font-weight: 700;
  margin-bottom: 20px;
}

.banner-content .sub-title {
  font-size: 45px;
  font-weight: 600;
}

.banner-content .description {
  font-size: 18px;
  margin-bottom: 20px;
}

.banner-section .banner-img {
  align-self: flex-end;
}

/* About Section */

.about-section {
  border-radius: 10px;
  padding: 130px 150px;
  margin: 130px 0;
}

.about-content {
  background-color: #fff;
  border: 1px solid #000;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}

.about-content .heading-description {
  margin: 30px 0;
}

.about-items {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}

.about-items .about-title {
  font-weight: 700;
}

/* Skills Section */
.skills-section {
  margin-bottom: 130px;
}
.skills-section .heading-title,
.skills-section .heading-description {
  text-align: center;
}

.skills-section .heading-description {
  margin: 30px 120px 50px 120px;
}

.skills-container {
  display: flex;
  gap: 24px;
}
.skill {
  border-radius: 5px;
  box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
  padding: 30px;
}

.skill-title {
  font-size: 20px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 20px;
}

.skill-description {
  font-size: 16px;
}

/* Resume Section */
.resume-section {
  margin-bottom: 100px;
}
.resume-section .heading-title {
  text-align: center;
  margin-bottom: 80px;
}

.resume-section .resume-cv-btn {
  text-align: center;
  margin-top: 50px;
}

.resume-container {
  display: flex;
  gap: 24px;
}
.resume-container hr {
  margin: 30px 0;
}
.resume-heading-title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}
.resume-title {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}

.resume-sub-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
/* Footer Section */
.footer-section {
  padding: 130px 150px;
  display: flex;
  gap: 110px;
  justify-content: space-around;
}

.footer-column .heading-title {
  margin-bottom: 20px;
}

.footer-social {
  margin-top: 30px;
  display: flex;
  gap: 24px;
}

.footer-column {
  width: 50%;
}

.footer-column input[type="text"],
.footer-column input[type="email"] {
  border-radius: 5px;
  height: 64px;
  width: 100%;
  background-color: #fff;
  border: none;
  padding: 0 30px;
  color: #757575;
  margin-bottom: 24px;
}

.footer-column textarea {
  border-radius: 5px;
  width: 100%;
  background-color: #fff;
  border: none;
  padding: 30px;
  color: #757575;
  margin-bottom: 24px;
}
